.bg {
    background-color: rgb(208, 208, 208);
}
.head{
    background-color: black;
    padding: auto;
    margin: auto;
    height: 40px;
    max-width: 100%;
    width: 100%;
}

.header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-top: 6;
    display: auto;
    padding: auto;
    margin: auto;
    contain: content;

}
/*.hallie {
    background-image: url(https://t4.ftcdn.net/jpg/02/39/08/93/360_F_239089346_Xoihk16BbW1fPRnyZnFpTwRIFaD17VYU.jpg);
    padding: auto;
    margin: auto;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
}
.hals {
    text-align: center;
}
*/
.about {
    text-align: center;
    font-family: Arial;
    width: 50%;
    padding: 15px;
    margin-left: 24%;
    margin-right: 25%;
    background-color: tan;
    display: inline-block;

}
.headshot {
    height: 300px;
}
hr {
    height: 1px;
    background-color: black;
    scrollbar-color: blue;
}
.G-head {
    text-align: center;
    padding: auto;
    margin: auto;
    display: block;
    width: 100%;

}
.Gallery {
    padding: auto;
    margin: auto;
    display: block;
    width: 80%;
    text-align: center;

}

a {
    color: rgb(0, 0, 255);
}

a:hover {
    color: blue;
}

a:visited {
    color: lightskyblue;
}
/*FOOTER*/

footer{
    text-align: center;
    background-color: black;
    margin: 0px;
    padding: 0px;
    color: white;
}